.SignUp__container {
  /* width: 1920px; */
  height: 1000px;
  background: #141414;
  display: flex;
  flex-direction: column;
  user-select: none;
  /* justify-content: center; */
}
.error-discrition{
  display: none;
}

.logo-img-top {
  position: relative;
  margin: 0 auto;
  width: 295px;
  height: 56px;
  top: 83px;
  left: 0px;
}

.SignUp__second__section {
  position: relative;
  top: 150px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 30px;
}

.SignUp__second__section h1 {
  color: #fff;
  font-family: Inter;
  font-size: 26.393px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SignUp__second__section h5 {
  color: #adadad;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.SignUp__second__section hr {
  width: 332.667px;
  height: 0px;
  flex-shrink: 0;
  fill: #00567d;
  border: 1px solid #ffce00;
  stroke-width: 1px;
  stroke: #ffce00;
  color: #ffce00;
}

.SignUp__second__section img {
  /* position: absolute; */
  cursor: pointer;
  top: 500px;
}
.SignUp__second__section input {
  position: relative;

  outline: none;
  background-color: inherit;
  border: none;
  color: #ffce00;
  border-bottom: solid 1px #bfbfbf;
  padding: 0 0 5px 5px;
  margin: 10px 0;
}

.signup-input-cred {
  width: 332.667px;
}

.signup-text-cred {
  margin-top: 50px;
}
.signup-pass-cred {
  margin-bottom: 50px;
}
.create__an_account {
  position: absolute;
  top: 600px;
}

.SignUp__footer {
  position: absolute;
  top: 700px;
  color: #bfbfbf;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
  margin: 0;
  position: relative;
  top: -30px;
  height: 0px;
}
