/* .modal.right .modal-dialog {
    position         : fixed;
    margin           : auto;
    width            : 320px;
    height           : 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform    : translate3d(0%, 0, 0);
    -o-transform     : translate3d(0%, 0, 0);
    transform        : translate3d(0%, 0, 0);
  }
  .modal-right {
    position     : fixed;
    margin       : auto;
    width        : 386px;
    border-radius: 0px !important;
    right        : 0;
    height       : 100%;
  }

  .modal-content {
    border-radius: 0px;
    border       : none;
    outline      : none;
    height       : 100%;
    padding      : 24px;
  }
  .modal-header {
    display       : flex;
    padding       : 0px;
    margin-bottom : 8px;
    background: white;
  }
  .modal-title {
    line-height: 28px;
    font-size  : 14px;
  }
  .modal-title-help {
    font-size  : 16px;
    line-height: 19px;
    color      : #5a6872;
    margin-bottom: 10px;
  }
  .modal-body{
    padding: 0px;
  } */

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    padding: 1% 0% 0% 32%;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.confirmation-modal {
    width: 500px;
    height: auto;
    /* padding: 50px; */
    text-align: center;
    border-radius: 4px;
    background-color: rgb(76 75 75);    
}
.modal.show .modal-dialog {
    transform: none;
}
.footer{
  margin-top: 40px;
}
.cancel{
  margin-right: 84px;
  padding: 12px;
  color: #fff;
  background-color: rgba(46, 125, 50, 0.04);
  border: 1px solid #2e7d32;
  border-radius: 9px;
}
.save{
  padding: 12px;
  color: #fff;
  background-color: rgba(46, 125, 50, 0.04);
  border: 1px solid #2e7d32;
  border-radius: 9px;
}

@media only screen and (max-width: 600px) {
    .modal-dialog{
        padding: 7%;
    }
    .confirmation-modal{
        width: auto;

    }
  }