.sipCalculator{
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto auto auto auto;
   gap:1.5rem;
    /* height: 70%; */
    /* margin-top: 100px; */
    /* overflow-y: scroll; */
}
.sip-section1{
    color: aliceblue;
    grid-column: 1 / span 3;
    border:1px solid #999;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
    border-radius: 5px;
    gap:1.2rem;
    padding: 1.5em;
}
.sip-section2{
    color: aliceblue;
    border:1px solid #999;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;

}

.sip-section3{
    color: aliceblue;
    grid-column: 1 / span 2;
    border:1px solid #999;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;

}

.sip-section4{
    color: aliceblue;
    border:1px solid #999;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;

}
.sip-section5{
    color: aliceblue;
    border:1px solid #999;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;

}
.sip-section1-1{
    /* border: 2px solid red; */
}
.sip-section1-2{
    /* border: 2px solid red; */
}
.sip-section1-3{
    grid-column-start: 1;
    grid-column-end: 3;
    /* border: 2px solid red; */
}
.sip-section1-4{
    grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

@media (max-width:767px) {
    .sipCalculator{
        display: flex;
        flex-direction: column;
        /* margin-top: 4em;
        margin-bottom: 5em; */
        height: 100%;
    }
    .sip-section1{
        display: flex;
        flex-direction: column;
    }
    .sip-section1-1{
        order: 2;
    }
    .sip-section1-2{
        order: 3;
    }
    .sip-section1-3{
        order: 4;
    }
    .sip-section1-4{
        order: 1;
    }
}



