.cibil_score_container {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; */
  /* height: 100vh; */
}

.cibil_score_container.component {
  /* padding-left: 10%; */
  /* gap: 17%; */
  padding-left: 60px;
  padding-right: 60px;
}
.cibil-score-check{
  color: #FFF;
  font-family: Inter;
  font-size: 36.427px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sibil-score{
  color: #FFF;
  font-family: Manrope;
  font-size: 77px;
  font-style: normal;
  padding-bottom: 150px;
  font-weight: 700;
  line-height: normal;
}


.cibil_score_main h3,
.cibil_score_main h1,
.cibil_score_partners_heading h4 {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cibil_score_partners_heading h6 {
  color: #a5a5a5;
}

.cibilScore_box {
  height: 415px;
  width: 503px;
  border: solid 2px #707070;
  border-radius: 20px;
}

.cibil_score_partners {
  display: flex;
  flex-direction: column;
  height: 661px;
  width: 788px;
  justify-content: center;
  margin-top: 25px;
}

.cibil_score_partners_heading,
.cibil_score_main h1 {
  padding: 15px 0 70px 0;
}

.cibil_score_main h1 {
  font-size: 55px;
}

.cibil_score_main h3,
.cibil_score_main h1 {
  position: relative;
  top: -35px;
}

.cibil_score_partners_heading,
.parnters__name-cibil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.parnters__name-cibil {
  border-bottom: solid 0.1px #e5e5e5;
  /* padding: 47px 0; */
  padding: 75px 0 20px 0;
}