.layout{
    display: flex;
    background: rgb(20, 20, 20);
    /* height: 100vh; */
}
@media (max-width:767px) {
    .layout{
        height: 100%;
    }
}

.applayout{
    display: flex;
  
}
.app-body{
    width: 100%;
    /* margin-left: 130px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
  .app-body{
    flex-direction: column-reverse;
    margin-left: 0px;
    max-width: 100%;
    height: auto;
  }
  
}
